<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transistoshare</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="h-screen bg-cyan-800 flex justify-center items-center w-full">
        <form action="/api/login" method="post">
            <div class="bg-white px-10 py-8 rounded-xl w-screen shadow-md max-w-sm">
                <div class="space-y-4">
                    <h1 class="text-center text-2xl font-semibold text-gray-600">Login</h1>
                    <div>
                        <label for="username" class="block mb-1 text-gray-600 font-semibold">Username</label>
                        <input name="username" type="text" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" />
                    </div>
                    <div>
                        <label for="password" class="block mb-1 text-gray-600 font-semibold">Password</label>
                        <input name="password" type="password" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" />
                    </div>
                    <button class="mt-4 w-full bg-gradient-to-tr from-cyan-600 to-cyan-600 text-slate-50 py-2 rounded-md text-lg tracking-wide">Register</button>
                    <div class="mt-4 w-full text-center">
                        <a href="/register">No account?</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>